.app-header {
  background-color: #0d253f;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: #01b4e4;
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
}
.app-header nav a {
  color: white;
  margin-left: 1.5rem;
  text-decoration: none;
  font-size: 1.1rem;
  padding-bottom: 5px;
}
.app-header nav a.active {
  border-bottom: 2px solid #90cea1;
}